@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  text-shadow: 1px 0.8px 1px rgba(89, 89, 89, 1);
}

.main-header {
  text-align: center;
  font-size: 2em;
}

.header-title {
  width: fit-content;
  margin: 3% auto 0 auto;
  background-color: #f7df1e;
  padding: 20px;
  border-radius: 9px;
}

.sub-header {
  display: flex;
}

.sub-container {
  width: 50%;
}

.shift-left {
  text-align: left;
}

.shift-right {
  text-align: right;
}

.high-scores-link {
  top: 0;
  padding-left: 2em;
  cursor: pointer;
}

.timer-text {
  top: 0;
  padding-right: 2em;
}

/* main content */

.main-display-container {
  width: 60%;
  margin: 2% auto 0 auto;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-shadow: none;
}

.main-display-text {
  font-size: 2em;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  text-shadow: none;
}

.button-display-container {
  text-align: center;
  margin-top: 7%;
}

.start-btn {
  width: 50%;
  margin: 3% 25% 0 25%;
  padding: 10px;
  font-size: 3em;
  border-radius: 8px;
  cursor: pointer;
  border: 2px outset;
  box-shadow: 4px 2px 5px 0px rgba#f7df1e;
  background-color: #f7df1e;
}

.answer-btn {
  display: block;
  margin: 5% 25% 5% 25%;
  width: 50%;
  padding: 10px;
  border-radius: 8px;
  font-size: 2em;
  cursor: pointer;
  border: 2px outset;
  box-shadow: 4px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.wrong {
  background-color: red;
}

.correct {
  background-color: green;
}

.score-board {
  text-align: center;
  font-size: 4em;
  margin: 0 0 3% 0;
}

.hide {
  visibility: hidden;
}

.initial-label {
  text-align: center;
  width: 40%;
}

.initials-input {
  font-size: 1em;
  width: 40%;
}

.high-score-box {
  font-size: 1.8em;
  display: flex;
  flex-wrap: wrap;
}

.high-score-header {
  font-size: 3em;
  text-align: center;
}

.high-score-entry {
  font-size: 2em;
  text-align: center;
}

@media screen and (max-width: 968px) {
  .header-title {
    font-size: 1.5em;
    margin-top: 0;
    border-radius: 0;
  }
  .high-scores-link {
    padding: 0;
  }

  .shift-left {
    margin-left: 5px;
  }
  .timer-text {
    padding: 0;
    margin-right: 5px;
    text-align: right;
  }

  .start-btn {
    width: 80%;
    margin: auto;
  }
  .answer-btn {
    text-align: center;
    width: 100%;
    margin: 0 0 5% 0;
  }
  .high-score-box {
    flex-direction: column;
    align-items: center;
  }
  .initial-label {
    width: 100%;
  }
  .initials-input {
    width: 100%;
  }
  #submit {
    font-size: larger;
    margin-top: 5%;
  }
  .score-board {
    font-size: 2em;
  }
}
